
        body{
            font-family: Lato;
            margin: 0;
        }
        .header{
            background-color: rgb(57, 55, 55);
            display:flex;
            align-items: middle;
            color: white;
        }
        .name{
            padding-top: 20px;

        }
        .header img{
            width: 200px;
            margin-right: 10px;
            padding: 25px;
            padding-left: 80px;
            padding-top: 40px;
            padding-bottom: 35px;
        }
        .la-play{
            padding-top: 80px;
            color: white;
        }
        .la-plus, .la-ellipsis-h {
            padding-left: 20px;
        }
        .sidebar{
            height: 98%;
            width:30px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: lightgray;
            overflow: hidden;
            padding-bottom: 10px;
            padding-left: 15px;
        }
        .la-bars{
            padding-top: 30px;
        }
        .la-bars,.la-home,.la-search,.la-volume-up,.la-user,.la-cog,.la-spotify,.la-soundcloud{
            padding-bottom: 65px;
            font-weight: 600;
            color: black;
            
        }
    
        table{
            border-collapse: collapse;
            width: 100%;
        }
        td{
            text-align: left;
            padding: 10px;
            padding-left: 70px;
        }
        tr:nth-child(even) {background-color: #f2f2f2;}
        button{
            color: blue;
        }
        .footer {
            position: fixed;
            background-color: rgb(61, 109, 153);
            left: 0;
            bottom: 0;
            right: 0;
            height: 95px;
            padding-right: 100%;
        }
        .footer img{
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
        }
        .footer{
            padding: 0;
            display:flex;
            align-items: right;
            color: white;
        }
        .footerplay{
            padding-top: 5px;
            padding-left: 10px;
            
        }
        .la-step-backward,.la-step-forward,.la-pause,.la-random,.la-undo-alt{
            font-size: 20px;
            padding-right: 117px;
            padding-top: 40px;

        }
        .la-step-backward{
            padding-left: 740px;
        }
